@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-primary: "Inter", sans-serif;

  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;
}

body {
  @apply font-primary bg-neutral-950 text-white;
}

.container {
  @apply w-full max-w-300 mx-auto px-4 md:px-8 lg:px-16;
}
